    parameters:
        level: max
        paths:
            - src
            - tests
        # Core analysis settings
        reportUnmatchedIgnoredErrors: false
        treatPhpDocTypesAsCertain: false